{% extends "base.html.twig" %}

{% block title %}Episode {{ episode.id }}{% endblock %}

{% block body %}

    <h1>{{ program.title }}</h1>
    <h2>Saison {{ season.number }}</h2>
    <h3>Episode {{ episode.number }} : {{ episode.title }}</h3>
    <p>{{ episode.synopsis }}</p>

    <a href="{{ path('program_season_show', { program: program.id, season: season.id }) }}">Retour à la liste des épisodes</a>
    
{% endblock %}